.container {
  width: 570px;
  margin: 50px auto 100px auto;
  text-align: center;
}

.subInfo {
  text-align: left;
}

.back {
  background-color: transparent;
  border: solid 4px black;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  position: fixed;
  top: 50px;
  left: 50px;
}

.back:hover {
  border: solid 4px blue;
  color: blue;
  cursor: pointer;
}
